If we are supposed to analyze *zip_codes*, they have to be unique for the join to happen correctly, drop those duplicates, or rather group_by:
- **order_customer_dataset_done** - **customer_id** OK, 14 994  zip codes UNIQUE out of 99441
- **geolocation_dataset_done** - 13736 UNIQUE zip codes out of over 600 000
- **sellers_dataset_done** - 2246 UNIQUE zip codes out of 3095

Also, duplicated *order_id* in:
- **order_items_dataset_done** - 12 141 duplicated primary keys (95092)
- **order_reviews_dataset_done** - 494 duplicated primary keys (92919)
- **order_payments_dataset_done** - 4303 duplicated primary keys (95905)

**products_dataset_done** and **order_items_dataset_done** are ok

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

from preprocessing.utils import join_dataframes

In [24]:
# Revert matplotlib settings to default
plt.rcParams.update(plt.rcParamsDefault)

# sns.set_style("whitegrid")

# plt.rcParams.update({
#     'text.usetex': True,          # Enable LaTeX rendering
#     'font.family': 'serif',       # Use serif fonts for a classic look
#     'font.serif': ['Georgia'],    # Specify a serif font (e.g., Georgia)
#     'figure.dpi': 200,            # Set the default DPI for clear visuals
#     'figure.facecolor': 'white',  # Set the figure background color
#     "axes.edgecolor": "grey",     # Border color for axes
#     "axes.linewidth": 0.2,        # Border width for axes
#     'axes.grid': True,            # Enable grid on axes
#     'grid.color': 'grey',         # Grid color
#     'grid.linestyle': '--',       # Dashed grid line style
#     'grid.linewidth': 0.25,       # Grid line width
#     'grid.alpha': 0.3,            # Grid transparency
#     "axes.spines.top": False,     # Remove top spine
#     "axes.spines.right": False,   # Remove right spine
#     "legend.frameon": True,       # Enable frame around legends
#     "legend.framealpha": 0.5      # Legend frame transparency
# })

In [25]:
order_customer_dataset_done = pd.read_csv('./data/processed/order_customer_dataset_done.csv', index_col=0)
geolocation_dataset_done = pd.read_csv('./data/processed/geolocation_dataset_done.csv', index_col=0)
order_items_dataset_done = pd.read_csv('./data/processed/order_items_dataset_done.csv', index_col=0)
order_payments_dataset_done = pd.read_csv('./data/processed/order_payments_dataset_done.csv', index_col=0)
order_reviews_dataset_done = pd.read_csv('./data/processed/order_reviews_dataset_done.csv', index_col=0)
orders_dataset_done = pd.read_csv('./data/processed/orders_dataset_done.csv', index_col=0)
products_dataset_done = pd.read_csv('./data/processed/products_dataset_done.csv', index_col=0)
sellers_dataset_done = pd.read_csv('./data/processed/sellers_dataset_done.csv', index_col=0)

In [35]:
order_customer_dataset_done

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,13056,campinas,SP
...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,6703,cotia,SP

In [ ]:
aha = join_dataframes(
	[orders_dataset_done, order_items_dataset_done], 
	[{'order_id': 'order_id'}, {'order_id': 'order_id'}]
)
aha

C:\Users\jk200\AppData\Local\Temp\ipykernel_14580\78190652.py:47: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  merged_df = temp_df.groupby(common_keys).apply(aggregate).reset_index()

,order_id,customer_id_0,order_purchase_timestamp_0,order_approved_at_0,order_delivered_carrier_date_0,order_delivered_customer_date_0,order_estimated_delivery_date_0,order_purchase_delivered_days_0,order_estimated_actual_delivered_days_0,order_item_id_1,product_id_1,seller_id_1,shipping_limit_date_1,price_1,freight_value_1
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29,7.614421,-8.011250,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15,16.216181,-2.330278,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05,7.948437,-13.444954,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20,6.147269,-5.435660,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17,25.114352,-15.303808,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96299,fffb2ef8874127f75b52b643880fd7e0,ca8374c00203cec663bc1eabf0aaede4,2018-03-30 15:36:49,2018-04-03 05:08:33,2018-04-03 15:12:19,2018-04-16 16:56:38,2018-04-27,17.055428,-10.294005,1.0,ebceb9726cf5c6187b48e17fe58747b0,609e1a9a6c2539919b8205cf7c4e6ff0,2018-04-09 05:08:33,17.90,22.06
96301,fffbee3b5462987e66fb49b1c5411df2,11a0e041ea6e7e21856d2689b64e7f3a,2018-06-19 09:27:48,2018-06-19 09:58:03,2018-06-29 13:46:00,2018-07-05 17:51:08,2018-07-23,16.349537,-17.256157,1.0,6f0169f259bb0ff432bfff7d829b9946,213b25e6f54661939f11710a6fddb871,2018-06-28 09:58:03,119.85,20.03
96304,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10,4.801690,-12.484468,1.0,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
96305,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25,1.956030,-8.083565,1.0,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
96306,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28,5.038981,-13.252477,1.0,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [46]:
aha.isna().sum()

order_id                                   0
customer_id_0                              0
order_purchase_timestamp_0                 0
order_approved_at_0                        0
order_delivered_carrier_date_0             0
order_delivered_customer_date_0            0
order_estimated_delivery_date_0            0
order_purchase_delivered_days_0            0
order_estimated_actual_delivered_days_0    0
order_item_id_1                            0
product_id_1                               0
seller_id_1                                0
shipping_limit_date_1                      0
price_1                                    0
freight_value_1                            0
dtype: int64

In [26]:
orders_dataset_done["customer_id"].nunique() == orders_dataset_done.shape[0]

True

In [27]:
orders_dataset_done["customer_id"].nunique()

89270

In [28]:
orders_dataset_done.shape[0]

89270

In [29]:
order_items_dataset_done.shape[0] - order_items_dataset_done["order_id"].nunique()

12141

In [30]:
order_items_dataset_done["product_id"].nunique() == order_items_dataset_done.shape[0]

False

In [31]:
geolocation_dataset_done["geolocation_zip_code_prefix"].nunique()

13736

In [32]:
sellers_dataset_done["seller_zip_code_prefix"].nunique()

2246

In [33]:
products_dataset_done["product_id"].nunique()

24136